.control {
    display: inline-flex;
}

header {
    display: flex;
    padding: 50px;
    background-color: rgb(0, 0, 0);
    color: rgb(242, 226, 202);
    font-size: larger;

}

header h1 {
    font-size: larger;
    color: rgb(244, 204, 143);
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
 }

 footer {
    display: flex;
    padding: 50px;
    background-color: rgb(0, 0, 0);
    color:rgb(249, 224, 187);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-top: 710px;
 }


 footer h1 {
    font-size: larger;
    font-weight: 100;
    color: rgb(0, 0, 0);
    margin-left: 45%;
    font-family: 'Times New Roman', Times, serif;
 } 
.container {
    margin: 1rem;
    padding: 1rem;
}

.info {
    display: flex;
    flex-direction: row;
    margin-left: 700px;
    justify-content: space-between;
}

.footerinfo {
    display: flex;
    flex-direction: row;
    margin-left: 400px;
    justify-content: space-between;
}

body {
    background-repeat: repeat;
}
 
.search {
    margin-top: 20px;
    margin-left: 20px;
}

.box {
    background-color: rgb(117, 217, 248);
}