.control {
    display: inline-flex;
}

header {
    display: flex;
    padding: 50px;
    background-color: rgb(0, 0, 0);
    color: rgb(242, 226, 202);
    font-size: larger;

}

header h1 {
    font-size: larger;
    color: rgb(244, 204, 143);
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
 }

 footer {
    display: flex;
    padding: 50px;
    color: rgb(184, 12, 12);
    font-size: larger;
    margin-top: 710px;
 }


 footer h1 {
    font-size: larger;
    font-weight: 100;
    color: rgb(0, 0, 0);
    margin-left: 45%;
    font-family: 'Times New Roman', Times, serif;
 } 
.container {
    margin: 1rem;
    padding: 1rem;
}

.nav {
    display: flexbox;
    margin-left: 25%;
}

body {
    background-repeat: repeat;
}

 
