.control {
    display: inline-flex;
}

header {
    padding: 50px;
    background-color: black;
    color: rgb(249, 224, 187);
    font-family: outfit,sans-serif;
    font-size: larger;
}

header h1 {
    font-size: larger;
    color: rgb(253, 213, 161);
    font-weight: 100;
    font-family: outfit,sans-serif;
 }

 footer {
    padding: 50px;
    background-color: black;
    color:rgb(249, 224, 187);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    height: 15vh;
    margin-top: 600px;
 }
 
 
